body,
html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #006157;
}

.sidebar {
  background-color: #005B94;
}

.nav {
  background-color: #642cde;
}

.article {
  background-color: #7E1DC3;
}

.footer {
  background-color: #393f4d;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

/* Solution */
.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 1000px;
  grid-template-rows: 80px 80px 400px 80px;
  gap: 15px;
}

.item-1 {
  grid-column: 1 / -1;
  grid-row: 1;
}

.item-2 {
  grid-column: 1;
  grid-row: 2 / span 2;
}

.item-3 {
  grid-column: 2;
  grid-row: 2;
}

.item-4 {
  grid-column: 2;
  grid-row: 3;
}

.item-5 {
  grid-column: 1 / -1;
  grid-row: 4;
}
